<form
  action="https://buttondown.email/api/emails/embed-subscribe/pooria"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/pooria', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Want an occasional email with my best stuff?</label><br>
    <input type="email" placeholder="ohsweet@email.com" name="email" id="bd-email" required />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Sign me up!" />
    <br>
    <small>Like <em>"once every few months"</em> occasional.</small><br>
    <small>Like <em>"not annoying"</em> occasional.</small><br>
    <small>Like <em>"forgot you were subscribed to me, but pleasantly surprised"</em> occasional.</small><br>
</form>
