<form
  action="https://buttondown.email/api/emails/embed-subscribe/pooria"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/pooria', 'popupwindow')"
  class="embeddable-buttondown-form">
  <label for="bd-email">Want a monthly roundup of my best work?</label><br>
    <input type="email" placeholder="ohsweet@email.com" name="email" id="bd-email" required />
    <input type="hidden" value="1" name="embed" />
    <input type="submit" value="Sign me up!" />
    <br>
    <small>No spam, just the good stuff!</small>
</form>
