---
---
@import "native.css";

* {
  box-sizing: border-box;
}

body {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img {
  max-width: 100%;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
  color: #f8f8f2;
}

.highlight > pre {
  padding: 15px;
  overflow: scroll;
  @extend .rounded;
}

code.language-plaintext.highlighter-rouge {
  padding: 2px 5px;
  color: #21211d;
  background-color: #ebebeb;
  border-radius: 3px;
}

.flow > * + * {
  margin-top: 1.5rem;
}

.rounded {
  border-radius: 6px;
}

.wrapper {
  padding: 1.5rem;
}

.button {
  border: none;
  background: dodgerblue;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.flex {
  display: flex;
}

section {
  @extend .wrapper;
}

footer {
  @extend .wrapper;
  text-align: center;
}

.embeddable-buttondown-form {
  label{
    font-weight: bold;
  }
  input {
    height: 35px;
    font-size: 16px;
    @extend .rounded;
  }
  [type=email]{
    border: 1px solid grey;
    padding: 0px 4px;
  }
  [type=submit] {
    @extend .button;
  }
}

.fragment {
  border-left: 3px solid #333;
  padding-left: 1rem;
  font-family: Georgia;
}

.image-grid{
  .thumbnail {
    width: calc(100%/3 - 3px);
    display: inline-block;
    text-align: center;
    @media(max-width: 480px){
      width: 49%;
    }
    div {
      @extend .rounded;
      width: 100%;
      height: 0;
      padding-top: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
