---
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Pooria R</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% feed_meta %}
    {% seo %}
    <script async src="https://cdn.volument.com/v1/volument.js" onload="volument('04d9eba119')"></script>
    <script async defer data-domain="pooriar.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
  </head>

  <body class="flow">
    {{ content }}
  </body>

  <footer>
    {% include subscribe.html %}
  </footer>
</html>
