---
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Pooria R</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% feed_meta %}
    {% seo %}
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S05K7FYRPE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-S05K7FYRPE');
  </script>

  <body class="flow">
    {% unless page.url == '/' %}
      {% include breadcrumbs.html %}
    {% endunless %}

    {{ content }}
  </body>

  <footer>
    {% include subscribe.html %}
  </footer>
</html>
