---
layout: default
---

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<div class="resp-container">
<model-viewer
    class="resp-iframe"
    src="/assets/models/{{page.filename}}"
    poster="/assets/models/{{page.poster}}"
    disable-zoom
    camera-controls
    auto-rotate-delay='0'
    interaction-prompt-threshold="1000"
    ar 
    ar-modes="webxr scene-viewer quick-look"
    auto-rotate >
</model-viewer>
</div>

  <h1>{{page.title}}</h1>

  <style>
body{
  background-color: {{ page.bg }};
  color: {{ page.fg }};
}
  </style>

  {{content}}
